@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-brand: #f18b5d;
  --color-brand-dark: #8f421f;

  --color-gray: #d3d3d3;
}

@theme {
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-accent: var(--color-brand);
  --color-muted: var(--color-gray);
}

.prose {
  max-width: unset !important;
}

body {
  background-color: var(--color-bg);
  background: url("../public/img/bg.webp") no-repeat center center fixed;
  color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6,
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.navbar {
  overflow: visible;
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -1;

  transform: translateY(-50%) scaleY(0.8);

  background: url("../public/img/nav-bg.png") center / contain no-repeat;
  background-size: contain;
}

.mobile-navbar {
  overflow: visible;
  position: relative;
}

.mobile-navbar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -1;

  transform: translateX(50%) translateY(-50%) scale(2, 2);

  background: url("../public/img/nav-bg.png") center / contain no-repeat;
  background-size: contain;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg) scaleY(1);
  width: 30px;
  height: 30px;
  background-color: var(--color-accent);
}

.vertical-line {
  position: relative;
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background-color: black;
}

.footer {
  background: url("../public/img/cement-texture.png") center / cover no-repeat;
}
