@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-brand: #f18b5d;
  --color-brand-dark: #fab594;

  --color-gray: #d3d3d3;
}

@theme {
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-accent: var(--color-brand);
  --color-muted: var(--color-gray);
}

body {
  background-color: var(--color-bg);
  background: url("../public/img/bg.webp") no-repeat center center fixed;
  color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6,
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.navbar {
  overflow: visible;
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -1;

  transform: translateY(-50%) scaleY(0.8);

  background: url("../public/img/nav-bg.png") no-repeat center center;
  background-size: cover;
}
